/* ejercicio1b.css   MP20031  */
fichero {background-color:brown;}
ficha {background-color:blue; display:block;} nombre {color:white; display:inline;} apellido {color:yellow; display:inline;}
direccion {color:yellow;font-size:10cm; display:none;}
telefono{color:whitesmoke; display:inline;}
email{color:cadetblue; display:inline-flex;}
nombre{color: darkcyan; font-size: 20cm;display: none;}
afp{color: bisque; display: inline;}
isss{color: cornsilk; background-color: aqua; display: inline;}