pais {background-color:blue;}
departamento {background-color:red; display:block;} nombre {color:white; display:inline;}
cabecera {color:yellow; display:inline;}
habitantes {color:rgb(0, 255, 200);font-size:5cm; display:none;}
altura {background-color: black;}
cabecera{color:black;font-size: large;}
superficie{color:rgb(56, 165, 42);}